* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Darker Grotesque', sans-serif;
    color: #fff;
    background: 
      linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url(/edutec/quiz/savana/imagens/savana4.jfif) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header img{
    height: 2.875rem;
  } 
  
  header {
    background-color: #FCFDF6;
  padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1002; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  }
  
  header nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  nav a {
    color: #314b2f;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 2.5rem;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #2e8b57;
  }
  
  nav .logo {
    font-size: 1.5rem;
    margin-right: auto;
  }
  
  .dropdown-menu { 
    display: none; 
    position: absolute; 
    top: 4.5rem;
    right: 2rem;
    background-color: white;
    padding: 0.5rem 1rem; 
    border-radius: 1rem; 
    width: auto; 
    min-width: 11.25rem; 
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15); 
    z-index: 1000; 
  } 
  
  .menu-grid {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
  }
  
  .menu-grid a { 
    font-size: 1.375rem; 
    font-weight: 700; 
    color: #000; 
    text-decoration: none; 
  } 
  
  .menu-grid a:hover {
    text-decoration: underline; 
  }
  
  
  .tela-bioma {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  .tela-bioma h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
   
    padding: 0.5rem 7rem;
    border-radius: 0.5rem;
  }
  
  .botao-iniciar {
    display: inline-block;
    background: #b77503;
    color: #fff;
    font-size: 2rem;
    padding: 0.4rem 5rem;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .botao-iniciar:hover {
    background: #765f03b6;
    transform: scale(1.05);
  }
  