@font-face {
  font-family: 'Maharlika';
  src: url('./fonts/Maharlika-Regular.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img{
height: 2.875rem;
} 
header {
  background-color: #FCFDF6;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1002; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: #314b2f;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 2.5rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2e8b57;
}

nav .logo {
  font-size: 1.5rem;
  margin-right: auto;
}

.dropdown-menu { 
  display: none; 
  position: absolute; 
  top: 4.5rem;
  right: 2rem;
  background-color: white;
  padding: 0.5rem 1rem; 
  border-radius: 1rem; 
  width: auto; 
  min-width: 11.25rem; 
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15); 
  z-index: 1000; 
} 

.menu-grid {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}

.menu-grid a { 
  font-size: 1.375rem; 
  font-weight: 700; 
  color: #000; 
  text-decoration: none; 
} 

.menu-grid a:hover {
  text-decoration: underline; 
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  color: #333;
  background-color: #F7F7F7;
  line-height: 1.6;
}

  .hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
    padding-left: 5rem;
    overflow: visible; 
    z-index: 1; 
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagens/projetos-intervencao.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(0.125rem);
    z-index: -1;
  }
  
  .hero-content h1 {
    font-family: 'Maharlika', serif;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.6rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
  }
  
  .arrow-container {
    position: absolute;
    bottom: -1.5625rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; 
  }
  
  .arrow-down {
    background-color: #4A7B2C;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  
  .arrow-down svg path {
    fill: white;
  }
  
  .project-info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 3.125rem;
      gap: 3.125rem;
  }
  
  .project-text {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .project-text h2 {
      font-size: 2.3rem;
      color: #304E2A;
      margin-bottom: 3rem;
      padding-top: 0;
  }
  .project-text p{
    font-size: 1.6rem;
     color: #000000;
  }
  
  .project-image img {
      max-width: 88%;
      border-radius: 1.25rem;
      height: auto;
      padding-left: 3.9375rem;
  }
  
  .intervention-projects {
      padding: 3.125rem;
      text-align: center;
      position: relative;
      color: #304E2A;
      z-index: 0;
      overflow: hidden;
  }
  
  .intervention-projects::before {
      content: "";
      position: absolute;
      top: 17.5rem;
      left: 0;
      width: 100%;
      height: 15.625rem;
      background-color: #304E2A;
      z-index: 1;
  }
  
  .intervention-projects h2 {
      color: #304E2A;
      margin-top: -3.125rem;
      margin-bottom: 2.5rem;
      font-size: 2.3rem;
  }
  
  .intervention-projects h2, .projects-container {
      position: relative;
      z-index: 2;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    flex-wrap: wrap;
    margin-top: 1.25rem;
  }
  
  .project-card {
    background-color: white;
    border-radius: 0.9375rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.1);
    width: 21.25rem;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%; 
    min-height: 28.125rem; 
  }
  
  .project-card .img-container {
    width: 100%;
    padding: 1.25rem;
    margin-bottom: 0.9375rem;
    background-color: #FEFFF9;
  }
  .project-card .img-container-1 img{
   height: 20.8125rem;
  }
  .project-card .img-container-2 img{
    height: 18.75rem;
   }
  
  .project-card img {
    width: 100%;
    border-radius: 0;
  }
  
  .project-card-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
    color: #000000;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .project-card h3 {
    color: #000000;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
  }
  
  .project-card p {
    color: #000000;
    font-size: 1.5rem; 
    line-height: 1.4;
    font-style: normal;
    margin: 0.3125rem 0;
    flex-grow: 1; 
  }