@font-face {
  font-family: 'Maharlika';
  src: url('./fonts/Maharlika-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header img{
  height: 2.875rem;
  } 
  
  header {
    background-color: #FCFDF6;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1002; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  }
  
  header nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  nav a {
    color: #314b2f;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 2.5rem;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #2e8b57;
  }
  
  nav .logo {
    font-size: 1.5rem;
    margin-right: auto;
  }
  
  .dropdown-menu { 
    display: none; 
    position: absolute; 
    top: 4.5rem;
    right: 2rem;
    background-color: white;
    padding: 0.5rem 1rem; 
    border-radius: 1rem; 
    width: auto; 
    min-width: 11.25rem; 
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15); 
    z-index: 1000; 
  } 
  
  .menu-grid {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
  }
  
  .menu-grid a { 
    font-size: 1.375rem; 
    font-weight: 700; 
    color: #000; 
    text-decoration: none; 
  } 
  
  .menu-grid a:hover {
    text-decoration: underline; 
  }
  
  body {
    font-family: 'Darker Grotesque', sans-serif;
    color: #333;
    background-color: #F7F7F7;
    line-height: 1.6;
  }
  
  
.hero {
    background: url("../imagens/varzea.jpg") center/cover no-repeat;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: left;
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0.125rem);
    -webkit-backdrop-filter: blur(0.0625rem);
}

.hero__content {
    position: relative;
    z-index: 2;
    padding-left: 4rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
}

.hero__content h1 {
    font-family: 'Maharlika', serif;
    font-weight: normal;
    font-size: 4rem;
}

.hero__content p{
    font-size: 1.6rem;
  }

.arrow-container {
    position: absolute;
    bottom: -1.5625rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.arrow-down {
    background-color: #4A7B2C;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.arrow-down svg path {
    fill: white;
}

main {
    padding: 2.5rem 1.25rem;
    padding-top: 3.75rem; 
}

.info-section {
    max-width: 75rem;
    margin: 0 auto;
}

.text-content ul {
    list-style: none;
    padding-left: 0;
}

.content-wrapper {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

.text-content {
    flex: 1.5rem;
}

.text-content h2 {
    font-size: 2.3rem;
    color: #2E2F35;
    margin-bottom: 1.25rem;
}

.text-content p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 2rem;
}

.image-content {
    flex: 1;
}

.image-content img {
    width: 100%;
    border-radius: 1.25rem;
}

.info-box-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.info-box-wrapper h3{
    font-size: 2.3rem;
}

.info-box-wrapper p{
    font-size: 1.4rem;
}

.info-box {
    background-color: #4A7B2C;
    color: white;
    border-radius: 0.625rem;
    display: flex;
    max-width: 68.75rem;
    overflow: hidden;
}

.info-box-title {
    padding: 3.125rem;
    background-color: #314b2f;
    flex: 2rem;
    text-align: center;
}

.info-box-content {
    padding: 2.5rem;
    flex: 2;
    display: flex;
    align-items: center;
}
