@font-face {
  font-family: 'Maharlika';
  src: url('./fonts/Maharlika-Regular.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img{
height: 2.875rem;
} 
header {
  background-color: #FCFDF6;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1002; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: #314b2f;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 2.5rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #2e8b57;
}

nav .logo {
  font-size: 1.5rem;
  margin-right: auto;
}

.dropdown-menu { 
  display: none; 
  position: absolute; 
  top: 4.5rem;
  right: 2rem;
  background-color: white;
  padding: 0.5rem 1rem; 
  border-radius: 1rem; 
  width: auto; 
  min-width: 11.25rem; 
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15); 
  z-index: 1000; 
} 

.menu-grid {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}

.menu-grid a { 
  font-size: 1.375rem; 
  font-weight: 700; 
  color: #000; 
  text-decoration: none; 
} 

.menu-grid a:hover {
  text-decoration: underline; 
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  color: #333;
  background-color: #F7F7F7;
  line-height: 1.6;
}


.hero {
  background: url("../imagens/flora.jpg") center/cover no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: left;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(0.09375rem);
}

.hero__content {
  position: relative;
  z-index: 2;
  padding-left: 4rem;
  font-size: 1.4rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);

}

.hero__content h1 {
  font-family: 'Maharlika', serif;
  font-weight: normal;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hero__content p{
  font-size: 1.6rem;
}
.arrow-container {
  position: absolute;
  bottom: -1.5625rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.arrow-down {
  background-color: #314b2f;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.arrow-down svg path {
  fill: white;
}

main {
  padding: 3.75rem 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
}

.papel-flora {
  max-width: 75rem;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin-bottom: -2.5rem;
}

.texto-1 {
  flex: 1.5;
}

.texto-1 h2 {
  margin-top: -2.5rem;
  font-size: 2rem;
  color: #355A2E;
  margin-bottom: 1.25rem;
  margin-left: 3.4375rem;
}

.texto-1 p {
  font-size: 1.4rem;
  line-height: 1.6;      
  text-align: justify;    
  margin-right: 6.25rem;
  color: #000000;
  margin-left: 5rem;
  margin-inline: 3.4375rem;
}

.flora {
  flex: 1;
}

.flora img {
  max-width: 21.875rem;
  width: 100%;      
  height: auto;     
  border-radius: 0.3125rem;
  display: block;
  margin: 0 auto;  
  margin-bottom: 3.125rem; 
}

.importancia {
  background: #EFEFEF;
  padding: 1.875rem;
  text-align: center;
}
  
  .importancia h2 {
    font-size: 2rem;
    color: #2E2F35;
    margin-bottom: 0.625rem;
  }
  
  .importancia p {
    font-size: 1.4rem;
    max-width: 50rem;
    margin: auto;
    color: #2E2F35;
    text-align: center;
  }
  

.plantas-nativas {
  display: flex;
  flex-direction: column; 
  gap: 2.5rem; 
  max-width: 75rem;
  margin: 0 auto;
}


.texto-nativos {
  flex: 2.3;
  margin-top: 2.5rem; 
  transform: none; 
  text-align: justify; 
  padding: 0 1.875rem; 
  justify-content: center;
  padding-top: 0.625rem;
}

.texto-nativos h2 {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.875rem;
  margin-left: 1.875rem;
  color: #14532d;
  text-align: left; 
}

.texto-nativos p {
  font-size: 1.4rem;
    color: #000000;
    line-height: 1.6;
    word-spacing: 0.03125rem;
    text-align: justify;
    margin-left: 1.875rem;
    max-width: 75rem; 
    margin-bottom: 5rem;
}

.grid-plantas {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2.125rem;
  flex: 2;
  margin-top: 1.25rem; 
  margin-bottom: 1.25rem; 
  transform: translateX(1.25rem);
  margin-left: 0.625rem;
}

.grid-plantas article {
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;   
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  padding: 0 0 0.375rem; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.grid-plantas article:hover {
  transform: translateY(-0.5rem);
}

.grid-plantas img {
  width: 100%;
  height: 8.75rem;   
  object-fit: cover;
  border-radius: 0.75rem 0.75rem 0 0; 
  display: block;
}

.grid-plantas h2 {
  font-size: 1.4rem; 
  margin: 0.75rem 0 0.375rem;
  padding: 0 0.5rem;
  color: #14532d;
}

.grid-plantas p {
  font-size: 1.2rem;   
  padding: 0 0.75rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
}

.grid-plantas article:hover {
  transform: translateY(-0.5rem);
}